@import "bootstrap";
@import "font-awesome";
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

// HTML elements
body {
  background-color: #fafafa;
}

h1 {
  font-size: 18px;
}

header {
  background-color: white;
}

main {
  padding: 32px;
}

// Classes
.btn {
  &:focus, &:hover {
    cursor: pointer;
  }
}

.btn-default {
  background-color: red;
  color: white;
}

.container {
  max-width: 768px;
}

.fa-spinner {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.fa-youtube-play {
  color: red;
}

.navbar-brand {
  font-family: 'Roboto Condensed', sans-serif;
}

.view-count {
  color: rgba(17, 17, 17, 0.6);
}